
div .btn1{
    margin-left: 100px;
    padding: 10px;
    text-align: center;
    
}
div .btn2{
    margin-left: 100px;
    padding: 10px;
    

}  
.light{
    margin-left:45%;
    margin-right: 55%;
}  


